<% if @user.id == session[:user_id] %>
  <div class="messages_container">
    <h3><a href="">Messages</a></h3>
        <ul>
          <% if @inbox.length > 0 %>
            <li>Inbox</li>
              <ul>
                <% @inbox.each do |i| %>
                  <li>                        
                    <form class="message_buttons" action="/messages/viewed/<%= i.id %>" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="submit" value="<%= i.title %>" class="btn btn-info btn-sm" 
                          <% if i.viewed == false %>
                            style="background-color:red;" 
                          <% end %>
                        data-toggle="modal" data-target="#myModali<%= i.id%>">
                    </form>
                    <div class="modal fade" id="myModali<%= i.id %>" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Title: <%= i.title %></h4>
                          </div>
                          <div class="modal-body">
                            <p>Message: <%= i.content %></p>
                            <hr>
                            <p><a href="/messages/contact/<%= i.sender_id%>/<%= i.receiver_id %>">Reply</a></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onClick="window.location.reload()">Close</button>
                          </div>
                        </div>     
                      </div>
                    </div>
                    received from <a href="/messages/contact/<%= i.sender.id %>/<%= session[:user_id] %>"><%= i.sender.email %></a>
                  </li>
                <% end %>
              </ul>
          <% end %>
          <% if @outbox.length > 0 %>
            <li>Outbox</li>
              <ul>
                <% @outbox.each do |o| %>
                  <li>
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalo<%= o.id %>"
                       <% if o.viewed == false %>
                        style="background-color:red;" 
                      <% end %>
                    ><%= o.title %> </button>
                    <div class="modal fade" id="myModalo<%= o.id %>" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close"  data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Title: <%= o.title %></h4>
                          </div>
                          <div class="modal-body">
                            <p>Message: <%= o.content %></p>
                            <hr>
                            <p><a href="/messages/contact/<%= o.receiver_id%>/<%= o.sender_id %>">Reply</a></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div> 
                      </div>
                    </div>
                    sent to <a href="/messages/contact/<%= o.receiver.id %>/<%= session[:user_id] %>"><%= o.receiver.email %></a>
                  </li>
                <% end %>
              </ul>
          <% end %>
        </ul>
  </div>
    <% if @contacts.length > 0 %>
      <div class="signins">
        <h3>Contacts</h3>
          <ul>
            <% @contacts.each do |c| %>
              <li><a href="/messages/contact/<%= c.id %>/<%= session[:user_id] %>"><%= c.email %></a></li>
            <% end %>
          </ul>
      </div>
    <% end %>
<% end %>