<div class="buyfaves">
  <% if @listings %>
    <h3>Listings</h3>
    
      <% @listings.each do |f| %>
        <div class="favebox">
        <% if f.rental_image %>
          <img src="<%= f.rental_image.gallery[0].url %>"/>
        <% end %>
        <%= f.address %> <%= f.street %><br>
        <%= f.city %> <%= f.state %><br>
        <%= number_to_currency(f.price, precision: 0) %>
        <a href="/listings/sale/<%=f.id%>">Listing Info</a>
         </div>
      <% end %>
  <%else%>
    <h3>Try searching a different area</h3>
  <%end%>  
</div>

<div id="map"></div>


