<div class="filterbar">
  <div class="updatebuy">
  <form action="/houses/routes" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="searchtype" value="buy">
    <input name="location" class="form-control" type="text" placeholder="Update Search">
    <input type="submit" class="btn btn-secondary">
  </form>
  </div>
  <div class="filterbuy">
    <form action="/houses/house_rent/<%=params[:location]%>/filters/" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label>Rent Max</label> <input type="number" min="0" placeholder="Rent Max" name="filters[price]" class="form-control" value="0">
      <label>Beds</label> <input type="number" min="0" placeholder="Beds" name="filters[bed]" class="form-control" value="0">
      <input type="submit" class="btn btn-secondary">   
    </form>
  </div>
</div>
<div class="buyfaves">
  <% if @listings %>
    <h3>Listings</h3>
    
      <% @listings.each do |f| %>
        <div class="favebox">
        <% if f.rental_image %>
          <img src="<%= f.rental_image.gallery[0].url %>"/>
         <% else%>
          <a href="/listings/rent/<%=f.id%>"><div class="fillerimg"></div></a>
        <% end %><p>
        <%= f.address %> <%= f.street %><br>
        <%= f.city %> <%= f.state %><br>
        <%= number_to_currency(f.price, precision: 0) %>
        <a href="/listings/rent/<%=f.id%>">Listing Info</a></p>
         </div>
      <% end %>
  <%else%>
    <h3>Try searching a different area</h3>
  <%end%>  
</div>

<div id="map"></div>


