<% content_for :map_callback, "initMapSell" %>

<div class="filterbar">
  <div class="updatebuy">
  <form action="/houses/routes" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="searchtype" value="sell">
      <input name="location" class="form-control" type="text" placeholder="Update Search" required minlength="1">
      <input type="submit" class="btn btn-secondary">
  </form>
  </div>
</div>

<div class="sellform">
<% if @listing.data['address_components'][0]['types'][0] == "street_number" && @isagent %>

  <%-# This form works, but needs to add ability to add sale info (beds, baths, etc) -%>
  <form action="/houses/sell" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="listing[user_id]" value="<%=session[:user_id]%>">
      <input type="hidden" name="listing[latitude]" value="<%=@lat%>">
      <input type="hidden" name="listing[longitude]" value="<%=@lng%>">
      <label>Address Number</label>
      <input type="text" name="listing[address]" value="<%=@addressform[0]['long_name']%>" class="form-control">
      <label>Street Name</label>
      <input type="text" name="listing[street]" value="<%=@addressform[1]['long_name']%>" class="form-control">
      <label>Unit</label>
      <input type="text" name="listing[unit]" placeholder="Optional Unit Number" class="form-control">
      <label>City</label>
      <input type="text" name="listing[city]" value="<%=@addressform[3]['long_name']%>" class="form-control">
      <label>State</label>
      <input type="text" name="listing[state]" value="<%=@addressform[5]['short_name']%>" class="form-control">
      <label>Zip Code</label>
      <input type="text" name="listing[zip]" value="<%=@addressform[7]['short_name']%>" class="form-control">

      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="formchecker" id="option1" value="sale" autocomplete="off" checked> Sale
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="formchecker" id="option2" value="rental" autocomplete="off"> Rental
        </label>

      </div><br><br>



      <input type="submit" value="Add Listing" class="btn btn-primary">
    </form>
    <% end %>
    <% if flash[:errors] %>
            <% flash[:errors].each do |error| %>
                <p><%= error %></p>
            <% end %>
        <% end %>
</div>
<div id="map"></div>  
