<div class="hero">
    <div class="hero-search">
        <h1 class="hero-label">Find your new home</h1>
        <form action="/houses/routes" method="POST" class="form-inline">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <label for="buy">
            <input type="radio" name="searchtype" value="buy" checked="checked" id="buy">
            <span>Buy</span>
            </label>
            <label for="rent">
            <input type="radio" name="searchtype" value="rent" id="rent">
            <span>Rent</span>
            </label>
            <label for="sell">
            <input type="radio" name="searchtype" value="sell" id="sell">
            <span>Sell</span>
            </label><br>
            <input class="form-control hero-search-bar" name="location" type="text" placeholder="Enter an address, neighborhood, city, or zip code">
            <input type="submit" class="btn btn-primary" value="Search">
        </form>
    </div>
</div>
<div class="sub-hero container">
    <h3>New Listings</h3>
    <% @recent.each do |r| %>
    <a href="/listings/sale/<%=r.id%>">
        <div class="shgroup">
        <img src="<%=r.image.gallery[0].url%>">
       <%=r.address%> <%=r.street%><br>
       <%= r.city %> <%= r.state %> <%=r.zip%><br>
       Listed: <%= time_ago_in_words(r.created_at) %> ago
        </div>
    </a>
    <% end %>
   
</div>