<div class="container">
    <div class="photoform">
        <h3>Add Photos</h3>
        <%= form_for '/listings/sale/:sale_id/photos', html: { multipart: true } do |f| %>
            <%= f.hidden_field :sale_listing_id, :value => @listing.id %>
            <%= f.label :gallery %>
            <%= f.file_field :gallery, multiple: true, class: 'form-control' %>
            <%= f.submit "Upload!", class: 'btn btn-primary' %>
        <% end %>
    </div>

<% if flash[:errors] %>
            <% flash[:errors].each do |error| %>
                <p><%= error %></p>
            <% end %>
        <% end %>
</div>