<div class="container">
    <div class="row">
        <div class="listingdata">
            <h3>Address</h3>
            <div class="address well">
                <%= @listing.address %> <%= @listing.street %><br>
                <%= @listing.city %>, <%= @listing.state %> <%= @listing.zip %>
            </div>
            <h3>Description</h3>
            <div class="address well">
                <%= @listing.description %><br>
            </div>

            <form action='/listings/rent/<%= @listing.id %>/favorite' method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='submit' value='Add to Favorites'>
            </form>

            <h3>Listing Info</h3>
            <table class="table">
                <tr>
                    <th>Monthly Rent</th>
                    <th>Beds</th>
                    <th>Baths</th>
                    <th>Area</th>
                </tr>
                <tr>
                    <td><%= number_to_currency(@listing.price, precision: 0) %></td>
                    <td><%= @listing.bed %></td>
                    <td><%= @listing.bath %></td>
                    <td><%= @listing.footage %> sq. ft.</td>
                </tr>
            </table>

            <hr>

            <% if @listing.user_id == session[:user_id] %>
            <ul>
                <li><a href="/listings/rent/<%= @listing.id %>/edit">Edit Listing</a></li>
                <li><a href="/listings/rent/<%= @listing.id %>/photos">Add Photos</a></li>
            </ul>
            <% else %>
                <form action="/messages/contact/<%= @listing.user_id %>/<%= session[:user_id] %>" method="GET">
                    <input type="submit" value="Contact This User" class="btn btn-primary">
                </form>
            <% end %>
        </div>
        <div class="gallery">
        <h3>Gallery</h3>
            <div class="col-sm-12">
            <% if @images %>
                <% @images.gallery.each do |i| %>
                    <div class="thumbnail">
                        <img src="<%=i.url%>">
                    </div>
                <% end %>
                <%end %>
            </div>
        </div>
    </div>
</div>
