<div class="container">
    <div class="row">
        <div class="listingdata">
            <h3>Address</h3>
            <div class="address well">
                <%= @listing.address %> <%= @listing.street %><br>
                <%= @listing.city %>, <%= @listing.state %> <%= @listing.zip %><br><br>
                <a href="/houses/house_buy/<%= @listing.address %> <%= @listing.street %>,<%= @listing.city %>"><span class="glyphicon glyphicon-map-marker"></span> show on map</a>
            </div>
            <h3>Description</h3>
            <div class="address well">
                <%= @listing.description %><br>
            </div>

            
            <% if !@already_fav %>
                <form action='/listings/sale/<%= @listing.id %>/favorite' method='POST'>
                    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                    <input type='submit' value='Add to Favorites' class="btn btn-danger">
                </form>
            <% else %>
                <form action='/listings/sale/<%= @listing.id %>/favorite/delete' method='POST'>
                    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                    <input type='submit' value='Remove from Favorites' class="btn btn-danger">
                </form>
            <% end %>
            

            <h3>Listing Info</h3>
            <table class="table">
                <tr>
                    <th>Price</th>
                    <th>Beds</th>
                    <th>Baths</th>
                    <th>Area</th>
                </tr>
                <tr>
                    <td><%= number_to_currency(@listing.price, precision: 0) %></td>
                    <td><%= @listing.bed %></td>
                    <td><%= @listing.bath %></td>
                    <td><%= @listing.footage %> sq. ft.</td>
                </tr>
            </table>

            <hr>

            <% if @listing.user_id == session[:user_id] %>
            <ul>
                <li><a href="/listings/sale/<%= @listing.id %>/edit">Edit Listing</a></li>
                <li><a href="/listings/sale/<%= @listing.id %>/photos">Add Photos</a></li>
            </ul>
            <% else %>
                <form action="/messages/contact/<%= @listing.user_id %>/<%= session[:user_id] %>" method="GET">
                    <input type="submit" value="Contact This User" class="btn btn-primary">
                </form>
            <% end %>

        </div>
        <div class="gallery">
        <h3>Gallery</h3>
            <div class="col-sm-12">
            <% if @images %>
                <% @images.gallery.each do |i| %>
                    <div class="thumbnail">
                        <img src="<%=i.url%>">
                    </div>
                <% end %>
                <%end %>
            </div>
            <form action="/listings/sale/<%= @listing.id %>/photos" method="GET">
                <input type="submit" value="Add Photos" class="btn btn-primary">
            </form>


        </div>

    </div>
</div>