<h3>Address</h3>
<%= @listing.address %> <%= @listing.street %><br>
<%= @listing.city %>, <%= @listing.state %> <%= @listing.zip %>

<h3>Listing Info</h3>
Price: <%= @listing.price %><br>
Beds: <%= @listing.bed %><br>
Baths: <%= @listing.bath %>