
<script type="text/javascript" language="JavaScript">
function HidePart(d) { document.getElementById(d).style.display = "none";  }
function ShowPart(d) { document.getElementById(d).style.display = "block"; }
function CheckboxChecked(b,d)
{
   if(b) { ShowPart(d); }
   else  { HidePart(d); }
}
</script>

<div class="container">
    <div class="signins">
      <h3>Personal Details</h3>
      <ul>
        <li>Email: <%= @user.email %> </li>
        <% if @user.agent != nil %>
          <li>Agent Type: <%= @user.agent %></li>
          <li>Name: <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></li>
          <li>Zip Code: <%= @user.addr %></li>
          <li>Phone Number: <%= @user.phone %></li>
        <% end %>
      </ul>
      <% if @user.id == session[:user_id] %>
        <form action="/users/edit/<%= @user.id %>" method="GET">
          <input type="submit" value="Edit User Details" class="btn btn-primary">
        </form>
      <% else %>
        <form action="/messages/contact/<%= @user.id %>/<%= session[:user_id] %>" method="GET">
          <input type="submit" value="Contact This User" class="btn btn-primary">
        </form>
      <% end %>
    </div>
    <% if @user.agent != nil %> 
      <div class="signins">
        <h3>Sale Listings</h3>
        <ul>
          <% if @sale_listings.length > 0 %>
            <% @sale_listings.each do |s| %>
              <li><a href=""><%= s.address %> <%= s.street %> <%= s.city %></a></li>
            <% end %>
          <% else %>
            <li>No current listings</li>
          <% end %>
        </ul>
        <h3>Rental Listings</h3>
        <ul>
          <% if @rental_listings.length > 0 %>
            <% @rental_listings.each do |r| %>
              <li><a href=""><%= r.address %> <%= r.street %> <%= r.city %></a></li>
            <% end %>
          <% else %>
            <li>No current listings</li>
          <% end %>
        </ul>


      </div>      
    <% end %>

    <% if @favorite_rentals != nil or @favorite_sales != nil %>
      <div class="signins">
        <h3>Favorite Listings</h3>
          <ul>
            <li>Rentals</li>
              <% if @favorite_rental.length > 0 %>
                <ul>
                  <% @favorites_rental.each do |f| %>
                    <li><a href=""><%= f.rental_listing.title %></a></li>
                  <% end %>
                </ul>
              <% else %>
                <ul>
                  <li>No Rental Listings favorited</li>
                </ul>
              <% end %>
            <li>For Sale</li>
              <% if @favorite_sales.length > 0 %>
                <ul>
                  <% @favorites_sales.each do |s| %>
                    <li><a href=""><%= f.sale_listing.title %></a></li>
                  <% end %>
                </ul>
              <% else %>
                <ul>
                  <li>No Sale Listings favorited</li>
                </ul>
              <% end %>
          </ul>
      </div>
    <% end %>

    <% if @user.id == session[:user_id] %>
      <div class="signins">
        <h3><a href="/messages/show/<%= session[:user_id] %>">Messages</a></h3>
            <ul>
              <% if @inbox.length > 0 %>
                <li>Inbox</li>
                  <ul>
                    <% @inbox.each do |i| %>
                      <li>

                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModali<%= i.id %>"><%= i.title %> </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModali<%= i.id %>" role="dialog">
                          <div class="modal-dialog">
                          
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Title: <%= i.title %></h4>
                              </div>
                              <div class="modal-body">
                                <p>Message: <%= i.content %></p>
                                <hr>
                                <p><a href="/messages/contact/<%= i.sender_id%>/<%= i.receiver_id %>">Reply</a></p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                            
                          </div>
                        </div>

                        sent from <a href="/messages/contact/<%= i.sender.id %>/<%= session[:user_id] %>"><%= i.sender.email %></a></li>
                    <% end %>
                  </ul>
              <% end %>
              <% if @outbox.length > 0 %>
                <li>Outbox</li>
                  <ul>
                    <% @outbox.each do |o| %>
                      <li>


                       <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalo<%= o.id%>"><%= o.title %> </button>
                        <div class="modal fade" id="myModalo<%= o.id %>" role="dialog">
                          <div class="modal-dialog">
                          

                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Title: <%= o.title %></h4>
                              </div>
                              <div class="modal-body">
                                <p>Message: <%= o.content %></p>
                                <hr>
                                <p><a href="/messages/contact/<%= o.receiver_id%>/<%= o.sender_id %>">Reply</a></p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                            
                          </div>
                        </div>



                        sent to <a href="/messages/contact/<%= o.receiver.id %>/<%= session[:user_id] %>"><%= o.receiver.email %></a></li>
                    <% end %>
                  </ul>
              <% end %>
            </ul>
      </div>
    <% end %>


    <div class="signinimage"></div>
</div>