
<script type="text/javascript" language="JavaScript">
function HidePart(d) { document.getElementById(d).style.display = "none";  }
function ShowPart(d) { document.getElementById(d).style.display = "block"; }
function CheckboxChecked(b,d)
{
   if(b) { ShowPart(d); }
   else  { HidePart(d); }
}
</script>

<div class="container usershow">
    <div class="signins well">
      <h3>Personal Details</h3>
      




      <table class="table">
        <tr>
          <td>Email:</td>
          <td><%= @user.email %></td>
        </tr>
        <% if @user.agent != nil %>
        <tr>
          <td>Agent Type:</td>
          <td><%= @user.agent %></td>
        </tr>
        <tr>
          <td>Name:</td>
          <td><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></td>
        </tr>
        <tr>
          <td>Zip Code:</td>
          <td><%= @user.addr %></td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td><%= @user.phone %></td>
        </tr>
        <% end %>
      </table>




      <% if @user.id == session[:user_id] %>
        <form action="/users/edit/<%= @user.id %>" method="GET">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="submit" value="Edit User Details" class="btn btn-primary">
        </form>
      <% else %>
        <form action="/messages/contact/<%= @user.id %>/<%= session[:user_id] %>" method="GET">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="submit" value="Contact This User" class="btn btn-primary">
        </form>
      <% end %>
    </div>
    <% if @user.agent != nil %> 
      <div class="signins well">
        <h3>Sale Listings</h3>
        
        <table class="table">
          <tr>
            <th>Address</th>
            <th>Actions</th>
          </tr>

          <% if @sale_listings.length > 0 %>
            <% @sale_listings.each do |s| %>
              <tr>
                <td><a href="/listings/sale/<%= s.id %>"><%= s.address %> <%= s.street %> <%= s.city %></a>
                </td>
                <td>
                  <form class="garbage_form" action="/listings/sale/<%= s.id %>/delete" method="POST">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input class="garbage" type="image" src="<%= asset_path( 'garbage.png' ) %>" alt="Submit Form" />
                  </form>
                  <form class="garbage_form" action="/listings/sale/<%= s.id %>/edit" method="GET">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input class="garbage" type="image" src="<%= asset_path( 'edit_icon.png' ) %>" alt="Submit Form" />
                  </form>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td>No current listings</td>
              <td></td>
            </tr>
          <% end %>


        </table>
        
        <h3>Rental Listings</h3>

        <table class="table">
          <tr>
            <th>Address</th>
            <th>Actions</th>
          </tr>
          <% if @rental_listings.length > 0 %>
            <% @rental_listings.each do |r| %>
              <tr>
                <td>
                  <a href="/listings/rent/<%= r.id %>"><%= r.address %> <%= r.street %> <%= r.city %></a>
                </td>
                <td>
                  <form class="garbage_form"action="/listings/rent/<%= r.id %>/delete" method="POST">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input class="garbage" type="image" src="<%= asset_path( 'garbage.png' ) %>" alt="Submit Form" />
                  </form>
                  <form class="garbage_form" action="/listings/sale/<%= r.id %>/edit" method="GET">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input class="garbage" type="image" src="<%= asset_path( 'edit_icon.png' ) %>" alt="Submit Form" />
                  </form>
                </td>
              </tr>
            
            <% end %>
          <% else %>
            <tr>
              <td>No current listings</td>
              <td></td>
          <% end %>
        

        </table>

      </div>      
    <% end %>

    <% if @favorite_rentals != nil or @favorite_sales != nil %>
      <div class="signins well">
        <h3>Favorite Listings</h3>
          <table class="table">
            <tr>
              <th>Listings</th>
              <th>Actions</th>
            </tr>
                <% if @favorite_rentals.length > 0 %>
                  <tr>
                    <% @favorite_rentals.each do |f| %>
                      <td><a href="/listings/rent/<%=f.rental_listing_id%>">
                        <%= f.rental_listing.address %>
                        <%= f.rental_listing.street %>
                        <%= f.rental_listing.city %>
                      </a></td>
                    
                    <td>

                      <form class="garbage_form" action="/listings/rent/<%= f.id %>/favorite/delete" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input class="garbage" type="image" src="<%= asset_path( 'garbage.png' ) %>" alt="Submit Form" />
                      </form>
                    </td>
                    <% end %>
                  </tr>
                <% else %>
                  <tr>
                    <td>No Rental Listings favorited</td>
                    <td></td>
                  </tr>
                <% end %>
          </table>
            <h3>For Sale</h3>
              <table class="table">
                <tr>
                  <th>Listings</th>
                  <th>Actions</th>
                </tr>
              <% if @favorite_sales.length > 0 %>
                
                  <% @favorite_sales.each do |s| %>
                  <tr>
                    <td><a href="/listings/sale/<%=s.sale_listing_id%>">
                      <%= s.sale_listing.address %>
                      <%= s.sale_listing.street %>
                      <%= s.sale_listing.city %>
                    </a></td>
                    <td>






                      <form class="garbage_form" action="/listings/sale/<%= s.id %>/favorite/delete" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input class="garbage" type="image" src="<%= asset_path( 'garbage.png' ) %>" alt="Submit Form" />
                      </form>
                    </td>
                  </tr>
                  <% end %>
                
              <% else %>
                <tr>
                  <td>No Sale Listings favorited</td>
                  <td></td>
                </tr>
              <% end %>
          </table>
      </div>
    <% end %>



  <% if @user.id == session[:user_id] %>
    <div class="signins">
    <div class="well contents message_contents">
      <h3><a href="/messages/show/<%= session[:user_id] %>">Messages</a></h3>
          <ul>
            <% if @inbox.length > 0 %>
              <h4 class="inoutbox">Inbox</h4>
                  <table class="table table-hover">
                    <tr>
                      <th>Title</th>
                      <th>Received from</th>
                      <th>Actions</th>
                    </tr>
                  <% @inbox.each do |i| %>
                    <tr>
                      <td>                       
                   
                     
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModali<%= i.id %>"
                        <% if i.viewed == false %>
                          style="background-color:red;" 
                        <% end %>
                        ><%= i.title.truncate(12) %>
                      </button>
                         <!-- <input type="submit" value="<%= i.title.truncate(12) %>" class="btn btn-info btn-sm" 
                            <% if i.viewed == false %>
                              style="background-color:red;" 
                            <% end %>
                          data-toggle="modal" data-target="#myModali<%= i.id%>">-->
              
                      <div class="modal fade" id="myModali<%= i.id %>" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Title: <%= i.title %></h4>
                            </div>
                            <div class="modal-body">
                              <p>Message: <%= i.content %></p>
                              <hr>
                              <p><a href="/messages/contact/<%= i.sender_id%>/<%= i.receiver_id %>">Reply</a></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal" onClick="window.location.reload()">Close</button>
                            </div>
                          </div>     
                        </div>
                      </div>
                      </td>
                      <td>
                        <a href="/messages/contact/<%= i.sender.id %>/<%= session[:user_id] %>"><%= i.sender.email %></a>
                      </td>
                      <td>
                        <form class="garbage_form" action="/messages/<%= i.id %>/delete" method="POST">
                          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                          <input class="garbage" type="image" src="<%= asset_path( 'garbage.png' ) %>" alt="Submit Form" />
                        </form>
                      </td>
                    </tr>
                  <% end %>
              </table>
                
            <% end %>



            <% if @outbox.length > 0 %>
              <h4 class="inoutbox">Outbox</h4>
                <table class="table table-hover">
                  <tr>
                    <th>Title</th>
                    <th>Sent To</th>
                    <th>Actions</th>
                  </tr>
                  <% @outbox.each do |o| %>
                  <tr>
                    <td>
                      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalo<%= o.id %>"
                        <% if o.viewed == false %>
                          style="background-color:red;" 
                        <% end %>
                        ><%= o.title.truncate(12) %>
                      </button>
                      <div class="modal fade" id="myModalo<%= o.id %>" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close"  data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Title: <%= o.title %></h4>
                            </div>
                            <div class="modal-body">
                              <p>Message: <%= o.content %></p>
                              <hr>
                              <p><a href="/messages/contact/<%= o.receiver_id%>/<%= o.sender_id %>">Reply</a></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div> 
                        </div>
                      </div>
                    </td>
                    <td>
                      <a href="/messages/contact/<%= o.receiver.id %>/<%= session[:user_id] %>"><%= o.receiver.email %></a>
                    </td>
                    <td>
             
                      <form class="garbage_form" action="/messages/<%= o.id %>/delete" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input class="garbage" type="image" src="<%= asset_path( 'garbage.png' ) %>" alt="Submit Form" />
                      </form>
                 
                    </td>
                  </tr>
                  <% end %>
                </table>
            <% end %>
          </ul>
    </div>
    </div>

  <% end %>



    <div class="signinimage"></div>
</div>