<!DOCTYPE html>
<html>
  <head>
    <title>Houseipus</title>
    <meta name="viewport" content="width=device-width">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= favicon_link_tag 'favicon.ico' %>

    <% if yield :map_callback %>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEIuPwq4UmLFZ-zqDXmqP1NI54lJhXllY&callback=<%= yield :map_callback %>" async defer></script>
    <% end %>
  </head>

  <body style="height:100%; width:100%;">
      <div class="links">
        <div class="logo">
          <a href="/"><img src="<%= asset_path( 'templogo.png' ) %>" /></a>
        </div>
        <ul>
          <li>
            <div class="input-group-btn" style="display:inline-block;">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Buy &nbsp<span class="glyphicon glyphicon-chevron-down"></span>
              </button>
              <div class="dropdown-menu">
                <form action="/houses/routes" method="POST">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="searchtype" value="buy">
                  <input type="text" name="location"   placeholder="Address, zip, or city" class="form-control placholderedit" required minlength="1">
                  <input type="submit" value="Search for Sale" class="btn btn-primary">
                </form>
              </div>
            </div>
          </li>

          <li>
            <div class="input-group-btn" style="display:inline-block;">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rent &nbsp<span class="glyphicon glyphicon-chevron-down"></span>
              </button>
              <div class="dropdown-menu">
                <form action="/houses/routes" method="POST">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="searchtype" value="rent">
                  <input type="text" name="location"   placeholder="Address, zip, or city" class="form-control placholderedit" required minlength="1">
                  <input type="submit" value="Rentals" class="btn btn-primary">
                </form>
              </div>
            </div>
          </li>

          <li>
            <div class="input-group-btn" style="display:inline-block;">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sell &nbsp<span class="glyphicon glyphicon-chevron-down"></span>
              </button>
              <div class="dropdown-menu">
                <form action="/houses/routes" method="POST">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="searchtype" value="sell">
                  <input type="text" name="location"   placeholder="Address, zip or, city" class="form-control placholderedit" required minlength="1">
                  <input type="submit" value="List Property" class="btn btn-primary">
                </form>
              </div>
            </div>
          </li>
          </ul>

          <!-- List element for profile icon-->
          
            <% if session[:user_email] %>
            <div class="profileicon">
              <a href="/users/show/<%= session[:user_id] %>"><img src="<%= asset_path( 'profile.png' ) %>" /></a>
            </div>
            <% end %>
          

          <!-- List element for mail icon, if user has unread messages-->
        
            <% @count = 0 %>
            <% if @messages %>
              <% @messages.each do |m| %>
                <% if m.receiver_id == session[:user_id] && m.viewed == false %>
                  <% @count += 1 %>
                <% end %>
              <% end %>

              <% if @count > 0 %>
                <div class="mailindicator">
                <a href="/messages/show/<%=session[:user_id]%>"><img src="<%= asset_path( 'mail.png' ) %>" /></a>
                  <div class="msgbadge">
                    <a href="/messages/show/<%=session[:user_id]%>"><%= @count %></a> 
                  </div> 
                </div>
              <% end %>

            <% end %> 

          <!-- List element for sign in/logout-->
            <div class="loggerinner">
              <% if !session[:user_id]%>
                <a href="/users/signin">Sign In</a>
              <% else %>
                <a href="/users/logout">Log Out</a>
              <% end %>
            </div>
         
      </div>

      <%= yield %>
      <div class="footer">
        <div class="footercontents">
       
            <ul>
              <li><a href="">About Peter Herman</a></li>
              <li>|</li>
              <li><a href="http://www.eddieverity.com">About Edward Verity</a></li>          
            </ul>
        </div>
    <div class="footercontents">
        <ul>
          <li>
            <p>Follow Peter Herman </p>
            <a href="https://github.com/peytah"><img src="<%= asset_path( 'github.png' ) %>" /></a>
            <a href="https://www.linkedin.com/in/peterbherman/"><img src="<%= asset_path( 'linkedin.png' ) %>" /></a>
          </li>
          <li>|</li>
          <li>
            <p>Follow Edward Verity </p>
            <a href="https://github.com/eddieverity"><img src="<%= asset_path( 'github.png' ) %>" /></a>
            <a href="https://www.linkedin.com/in/edward-verity-7398b332/"><img src="<%= asset_path( 'linkedin.png' ) %>"/></a>
          </li>
        </ul>

    </div>
    </div>
  </body>
</html>
