<!DOCTYPE html>
<html>
  <head>
    <title>Houseipus</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEIuPwq4UmLFZ-zqDXmqP1NI54lJhXllY&callback=initMap" async defer></script>
  </head>

  <body>
      <div class="links">
        <div class="logo">
          <a href="/"><img src="<%= asset_path( 'templogo.png' ) %>" /></a>
        </div>
        <ul>
          <li>
            <div class="input-group-btn" style="display:inline-block;">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Buy &nbsp<span class="glyphicon glyphicon-chevron-down"></span>
              </button>
              <div class="dropdown-menu">
                <form action="/houses/routes" method="POST">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="searchtype" value="buy">
                  <input type="text" name="location"   placeholder="Address, zip or city">
                  <input type="submit" value="Search for Sale">
                </form>
              </div>
            </div>
          </li>

          <li>
            <div class="input-group-btn" style="display:inline-block;">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rent &nbsp<span class="glyphicon glyphicon-chevron-down"></span>
              </button>
              <div class="dropdown-menu">
                <form action="/houses/routes" method="POST">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="searchtype" value="rent">
                  <input type="text" name="location"   placeholder="Address, zip or city">
                  <input type="submit" value="Rentals">
                </form>
              </div>
            </div>
          </li>

          <li>
            <div class="input-group-btn" style="display:inline-block;">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sell &nbsp<span class="glyphicon glyphicon-chevron-down"></span>
              </button>
              <div class="dropdown-menu">
                <form action="/houses/routes" method="POST">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="searchtype" value="sell">
                  <input type="text" name="location"   placeholder="Address, zip or city">
                  <input type="submit" value="List Property">
                </form>
              </div>
            </div>
          </li>

          <li>
            <% if !session[:user_id]%>
              <a href="/users/signin">Sign In</a>
            <% else %>
              <a href="/users/logout">Log Out</a>
            <% end %>
          </li>
          <li>
            <% if session[:user_email] %>
              Signed in as <a href="/users/show/<%= session[:user_id] %>"><%= session[:user_email] %></a>
            <% end %>
          </li>
          <li>
            <% @count = 0 %>
            


            <% if @messages %>
              <% @messages.each do |m| %>
                <% if m.receiver_id == session[:user_id] && m.viewed == false %>
                  <% @count += 1 %>
                <% end %>
              <% end %>

              <% if @count > 0 %>
                <a href="/messages/show/<%=session[:user_id]%>"><%= @count %> unread messages</a>
              <% end %>
            <% end %> 

        </ul>
      </div>

      <%= yield %>
      <div class="footer">
    <div class="footercontents">
        <h4>About | Research | Jobs | List A Home | List A Rental</h4>
    </div>
    </div>
  </body>
</html>
